@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply rounded-lg bg-accent px-5 py-3 font-medium text-white;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 600;
  font-stretch: normal;
}

body {
  @apply font-montserrat;
}
